.chart {
  flex: 4;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  color: gray;

  .title {
    font-weight: 700;
    text-transform: uppercase;
    font-size: 14px;
    color: gray;
    margin-bottom: 20px;
    padding: 10px;
  }

  .chartGrid {
    stroke: rgb(228, 225, 225);
  }
}
