:root {
  --primary-color: #00ebc7;
  --secondary-color: #ff5470;
  --tertiary-color: #fde24f;
  --heading-color: #00214d;
  --button-text: #00214d;
  --text-color: #1b2d45;
  --color-white: #fffffe;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Nunito', sans-serif;
}
